body{
    background-color: white;
}
form{
  background-color: darkseagreen;
}

.formulario2{
    background-color: darkcyan;
}

.formulario3{
     background-color: darkorchid;
    }

.formulario4{
     background-color: darkgoldenrod;
    }